* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.graph-field {
  width: 100vw;
  height: 100vh;
}

.link {
  fill: none;
}

/*stroke: #666;*/
/*stroke-width: 1.5px;*/
/*fill: green;*/
/*stroke: green;*/
.link.resolved {
  stroke-dasharray: 0, 2;
}

.influence-info {
  position: absolute;
  display: none;
  padding: 10px;
  width: max-content;
  height: max-content;
  background-color: white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}
.influence-info > .influence-info__desc {
  font-size: 13pt;
}
.influence-info > .fraction {
  width: max-content;
}
.influence-info > .fraction > .fraction__value {
  font-size: 24pt;
}
.influence-info > .fraction > .fraction__max-value {
  font-size: 11pt;
}

#close {
  width: 15px;
  height: 15px;
  background-image: url("close-btn.png");
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: black;
}

/*fill: #ccc;*/
/*stroke: #333;*/
/*stroke-width: 1.5px;*/
text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*# sourceMappingURL=default.css.map */
